streamlit==1.52.2
streamlit-option-menu==0.3.13
requests==2.32.5
tavily-python==0.7.17
pandas==2.2.4
altair==5.5.0
python-dotenv==1.0.1
langchain==0.3.20
langchain-groq==0.2.2
langchain-community==0.3.19
langchain-text-splitters==0.3.7
langchain-huggingface==0.1.7
faiss-cpu==1.7.4
sentence-transformers==5.2.0
huggingface-hub==0.29.3
pypdf==5.3.1
python-docx==1.1.2
openpyxl==3.1.5
bcrypt==5.0.0
google-api-core==2.29.0
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
Authlib==1.6.6

tiktoken==0.12.0
transformers==4.57.3
torch==2.9.1
numpy==2.2.4
scikit-learn==1.8.0
scipy==1.16.3
