fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib
requests
tavily-python
pandas
altair
python-dotenv
sentence-transformers
huggingface-hub
pypdf
python-docx
openpyxl
bcrypt
llama-index
llama-index-embeddings-huggingface
llama-index-llms-groq
tiktoken
transformers
torch
numpy
scikit-learn
scipy
