fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib
requests
tavily-python
pandas
altair
python-dotenv
langchain
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
huggingface-hub
pypdf
python-docx
openpyxl
bcrypt
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
Authlib

tiktoken
transformers
torch
numpy
scikit-learn
scipy
